{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "no-plusplus": "off",
    "linebreak-style": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "reject",
        "varsIgnorePattern": "style"
      }
    ],
    "no-console": ["error", { "allow": ["error"] }],
    "class-methods-use-this": "off"
  }
}
