doctype html
html(lang="en")
  head
    title Atabukku
    
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .container
      .recents-container
        .home
          input(type="text")
          
          #bookmarks
